/* Global Styles */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Open-sans", sans-serif;
  font-size: 18px;
  background: #282828;
}

.wrapper {
  max-width: 880px;
  margin: auto;
  background-color: #ffffff;
  padding: 0px 55px;
  position: relative;
}

p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

/* Red Heading Styles */

.heading {
  background-image: url(../imgs/big-red-rectangle.png);
  background-size: cover;
  color: white;
  font-family: "Open-sans", sans-serif;
  text-align: center;
  padding: 20px 70px;
  font-size: 22px;
  /* text-transform: uppercase; */
  line-height: 35px;
  font-weight: 600;
  position: relative;
  margin-right: -70px;
  margin-left: -70px;
}

.heading:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid #7d0000;
  border-left: 16px solid transparent;
  bottom: -14px;
  left: -1px;
  right: 0;
}

.heading:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid #7d0000;
  border-right: 16px solid transparent;
  right: -1px;
  bottom: -14px;
}
