/* Global Styles */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Open-sans", sans-serif;
  font-size: 19px;
  background: #242424;
  line-height: 1;
}

.wrapper {
  max-width: 880px;
  margin: auto;
  background-color: #ffffff;
  padding: 0px 55px;
  position: relative;
}

p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

.textCenter {
  text-align: center;
}

/* Helper Classes */
.rightAlign {
  float: right;
}

/* Red Heading Styles */

.heading {
  background-image: url(../imgs/big-red-rectangle.png);
  background-size: cover;
  color: white;
  font-family: "Open-sans", sans-serif;
  text-align: center;
  padding: 20px 70px;
  font-size: 22px;
  /* text-transform: uppercase; */
  line-height: 35px;
  font-weight: 600;
  position: relative;
  margin-right: -70px;
  margin-left: -70px;
}

.heading:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid #7d0000;
  border-left: 16px solid transparent;
  bottom: -14px;
  left: -1px;
  right: 0;
}

.heading:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid #7d0000;
  border-right: 16px solid transparent;
  right: -1px;
  bottom: -14px;
}

/* Section Styles */

.person {
  margin-top: -50px;
  position: relative;
  float: right;
}

.section {
  background: #f0f0f0;
  padding-left: 55px;
  margin-left: -55px;
  margin-right: -55px;
}

.section:after {
  content: '';
  display: block;
  clear: both;
}

.paras {
  padding-top: 30px;
  padding-bottom: 3px;
  margin-bottom: 30px;
}

.yellow-arrow {
  display: inline;
  position: relative;
}

.yellow-arrow:after {
  content: '';
  background: url('../imgs/arrow.png') no-repeat 0 0;
  display: block;
  width: 68px;
  height: 42px;
  position: absolute;
  top: 20px;
  left: 70px;
}

.person2 {
  float: left;
  margin-bottom: 20px;
  margin-left: -90px;
  z-index: 1;
  position: relative;
}

h4.callout{
  background: #ca0000;
  color: white;
  padding: 15px 0px;
  display: block;
  margin: 50px 330px 20px 180px;
  font-weight: 600;
  position: relative;
}

h4.callout:after{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 50px solid #ca0000;
  border-right: 27px solid transparent;
  right: -27px;
  top: 0px;
}

.padding-left-20 {
  overflow: hidden;
  padding-left: 20px;
}

.silver-heading {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  padding: 20px 85px;
  background: #f2f2f4;
  margin-left: -55px;
  margin-right: -55px;
}
